:root {
    --gray-scale-0: #000;
    --gray-scale-1: #111;
    --gray-scale-2: #222;
    --gray-scale-3: #333;
    --gray-scale-4: #444;
    --gray-scale-5: #555;
    --gray-scale-6: #666;
    --gray-scale-7: #777;
    --gray-scale-8: #888;
    --gray-scale-9: #999;
    --gray-scale-10: #AAA;
    --gray-scale-11: #BBB;
    --gray-scale-12: #CCC;
    --gray-scale-13: #DDD;
    --gray-scale-14: #EEE;
    --gray-scale-15: #ffffff;

    --green-extra-light: #EBFFFB;
    --green-light: #d6fff6;
    --green: #00b890;
    --green-dark: #006650;

    --purple-extra-light: #f5f3f7;
    --purple-light: #E2DAE7;
    --purple: #805D93;
    --purple-dark: #36283E;

    --crimson-extra-light: #FCEDEF;
    --crimson-light: #F4B8BF;
    --crimson: #74121D;
    --crimson-dark: #35080D;

    --navy-light: #DDF7F8;
    --navy: #156064;
    --navy-dark: #0e4143;

    --pink: #ef767a;
    --brown: #554348;
    --orange: #fb8f67;

    --youtube-red: #ff0000;
    --instagram-violet: #bc2a8d;

    --site-background: #FFFFFF;

    --link-blue: #0694db;
}