:root {
    --gray-scale-0: #000;
    --gray-scale-1: #111;
    --gray-scale-2: #222;
    --gray-scale-3: #333;
    --gray-scale-4: #444;
    --gray-scale-5: #555;
    --gray-scale-6: #666;
    --gray-scale-7: #777;
    --gray-scale-8: #888;
    --gray-scale-9: #999;
    --gray-scale-10: #AAA;
    --gray-scale-11: #BBB;
    --gray-scale-12: #CCC;
    --gray-scale-13: #DDD;
    --gray-scale-14: #EEE;
    --gray-scale-15: #FFF;
}