.header {
    color: var(--navy);
    background: -webkit-linear-gradient(260deg, var(--navy) 40%, var(--green));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: bold;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}