.container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.snowKumataImage {
    width: 100%;
    border-radius: 6px;
}

.smallSnowKumataImage {
    width: 100%;
}

@media (max-width: 768px) {
    .profileTextGroup {
        padding: 15px 5%;
    }
}